In [1]:
# Initial Import of Dependencies
from config import db_key
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
import psycopg2 as pg

In [7]:
#connect to database
engine = pg.connect(db_key)
results_df = pd.read_sql('select * from learning_survey_results', con=engine)

In [5]:
# checking data types
results_df.dtypes

program_id                            int64
program_name                         object
employee_first_name                  object
employee_last_name                   object
business_unit_corporate_function     object
location                             object
career_grade                         object
talent_review_status                 object
number_of_years_with_business        object
gender                               object
ethnicity                            object
nps_score                           float64
nps_comments                         object
dtype: object

In [28]:
# checking overall numerical stats
results_df.describe()

        program_id    nps_score
count  1290.000000  1289.000000
mean    787.279070     4.627618
std     185.266335     3.018995
min     121.000000     0.000000
25%     621.000000     2.000000
50%     921.000000     4.000000
75%     921.000000     7.000000
max     921.000000    10.000000

In [30]:
# looking at number of participants in different career grades
results_df.career_grade.value_counts(dropna=False)

C2    346
E     330
D     322
F     139
C1    136
G      12
H       5
Name: career_grade, dtype: int64

In [27]:
# looking at number of participants in all programs and how they determine their "talent review status"
results_df.talent_review_status.value_counts(dropna=False)

Ready in 1 year           300
Ready now                 295
Aspire to move            288
Performing to standard    253
Coach                     154
Name: talent_review_status, dtype: int64

In [ ]:
# 
results_df.talent_review_status.value_counts(dropna=False)

In [11]:
results_df.head()

,program_id,program_name,employee_first_name,employee_last_name,business_unit_corporate_function,location,career_grade,talent_review_status,number_of_years_with_business,gender,ethnicity,nps_score,nps_comments
0,621,iLead,Rory,Newall,Assessment & Qualifications,Middle East,F,Ready in 1 year,6 - 10 years,Male,White,1.0,None
1,621,iLead,Oliver,Paige,Assessment & Qualifications,"North America, United States",D,Performing to standard,Less than 2 years,Male,White,4.0,None
2,621,iLead,Patrick,Robotham,Assessment & Qualifications,"North America, Canada",E,Ready in 1 year,11 + years,Male,White,10.0,None
3,621,iLead,Torrie,Lyall,Assessment & Qualifications,"North America, United States",D,Ready now,Less than 2 years,Female,White,2.0,None
4,621,iLead,Julissa,Travill,Strategy,United Kingdom,E,Ready in 1 year,Less than 2 years,Male,White,3.0,None